<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link rel='icon' href='./static/img/penguinpet.png' type='image/x-icon' />

    
    <link rel='stylesheet' href="./static/styles/burgermenu.css">
    <input type="checkbox" id="burger-toggle">
    <label for="burger-toggle" class="burger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <div class="menu">
        <div class="menu-inner">
            <ul class="menu-nav">
                <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
                            <div>Home</div>
                        </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
                            <div>About</div>
                        </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
                            <div>Projects</div>
                        </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
                            <div>Experience</div>
                        </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
                            <div>Interests</div>
                        </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
                            <div>Resume</div>
                        </span></a></li>
            </ul>

        </div>
    </div>



</body>

    
    {% block content %}{% endblock %}

</html>